//- ** This is a sample of a pug template and how it uses the data passed to it from index.js.

doctype html
html
  head
    title #{title}
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
  body
    h1 Contacts list

    // 🚩 Contacts Table
    table(border="1", cellpadding="8", cellspacing="0")
      thead
        tr
          th First Name
          th pet Name
          th Hobby
          th Actions
      tbody
        each contact in data
          tr
            td #{contact.properties.firstname || '-'}
            td #{contact.properties.pet_name || '-'}
            td #{contact.properties.hobby || '-'}   
            td
                a(href=`/contacts/update/${contact.id}`) Update
              

